/* header + nav + bouton connexion + logo header + border */
header {
    padding: 10px 20px;
    position: relative;

    .header-banner {
        position: absolute;
        inset: 0;
        width: 80%;
        height: 115%;
        margin-inline: auto;
        object-fit: cover;
        mix-blend-mode: multiply;
    }

    .banner-delimitation {
        mix-blend-mode: multiply;
        position: relative;
        width: 100%;
        display: block;
        margin-bottom: -1.5rem;
        filter: drop-shadow(0 6px 8px rgba(61, 43, 26, 0.15));
    }
}

.header-banner-box {
    position: absolute;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
}

.border {
    width: 100%;
    display: block;
    margin-bottom: -5px;
    filter: drop-shadow(0 6px 8px rgba(61, 43, 26, 0.15));
}

nav {
    display: grid;
    position: relative;
    z-index: 8;
}

nav a {
    text-decoration: none;
    color: var(--couleur-police-standard);
}

nav ul {
    display: flex;
    list-style: none;
}

.nav-links {
    margin: 1rem;
}

.nav-links-menus {
    display: grid;
    align-items: baseline;
    margin-top: 0;
    position: absolute;
    top: 57%;
    right: -20px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    background-color: #0000009c;
    padding: 0.75rem;
    border-top: solid 2px var(--couleur-hero-bouton);
    border-bottom: solid 2px var(--couleur-hero-bouton);
    border-radius: 20px 0 0 20px;
    z-index: 2;
}

.nav-links-menus.active {
    z-index: 10;
    background-color: #0000009c;
    padding: 0.75rem;
    box-shadow: 0 4px 12px var(--couleur-ombre-forte);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    border-top: solid 2px var(--couleur-hero-bouton);
    border-bottom: solid 2px var(--couleur-hero-bouton);
    border-radius: 20px 0 0 20px;
}

.nav-utilisateur {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    li {
        display: grid;
        gap: 1rem;
        padding-top: 1rem;
    }
}

.panier-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.profil-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    background: transparent;
    cursor: pointer;
}

.profil-box {
    position: relative;
}

.bouton-profil {
    background: transparent;
    border: none;
    padding: 0;
}

.nav-logo {
    font-family: 'Playfair Display', serif;
    white-space: nowrap;
    font-size: clamp(1.625rem, 1.3125rem + 1.25vw, 2.25rem);
    justify-content: space-between;
    display: flex;
}

.nav-logo img {
    height: 6rem;
    object-fit: contain;
    margin-bottom: 20px;
}

.bouton-nav-hamburger {
    display: flex;
    align-items: center;
    justify-content: right;
    background: transparent;
    border: none;
    border-radius: 6px;
    padding: 8px 12px;
    cursor: pointer;

    img {
        width: 30px;
        height: auto;
    }
}

.nav-links-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .animated-button {
        width: 160px;
    }
}

#btn-admin-administration-panel,
#btn-admin-deconnexion-panel,
#btn-employe-commandes-panel,
#btn-employe-deconnexion-panel,
#btn-utilisateur-panier-panel {
    box-shadow: none;
}

#bouton-menus,
#bouton-devis,
#btn-connexion-index,
#bouton-panier,
#btn-utilisateur-compte-panel,
#btn-utilisateur-deconnexion-panel{
    display: flex;
    width: 160px;
    justify-content: center;
    align-items: center;
    background: var(--couleur-fond);
}


/* header responsive */

@media (max-width: 900px) {
    .nav-logo img {
        height: 4rem;
    }

    .nav-links-menus {
        top: 100%;
        left: -20px;
        right: -20px;
        border-radius: 0 0 0 0;

        &.active {
            border-radius: 0 0 0 0;
        }
    }
}

/* footer test */
.container-footer {
    padding: 0 5rem;
}

.footer-local {
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--couleur-avis-filtre-banner);
    padding: 3rem 0;
    font-size: 0.95rem;
    line-height: 1.6;
    margin-top: 2rem;
}

.footer-local__main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid var(--couleur-avis-filtre-banner);
}

.footer-local__details {

    h3 {
        color: var(--couleur-box-partenaires);
        font-size: 2rem;
        margin: 0 0 1.5rem 0;
    }

    p {
        margin: 0 0 1rem 0;
        font-size: large;
        color: var(--couleur-police-boule-commande);
    }

    a {
        color: var(--couleur-police-boule-commande);
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
            color: var(--couleur-presentation-box);
            text-decoration: underline;
        }
    }

    strong {
        color: var(--couleur-box-partenaires);
    }
}

.footer-local__hours-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: large;

    li {
        display: flex;
        justify-content: space-between;
        padding: 0.25rem 0;

        span:first-child {
            font-weight: 500;
        }

        .day{
            color: var(--couleur-box-partenaires);
        }

        .time {
            color: var(--couleur-police-boule-commande);
        }
    }
}

.footer-local__map iframe {
    width: 100%;
    height: 100%;
    min-height: 250px;
    border: 0;
    border-radius: 8px;
}

.footer-local__bottom {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    font-size: 0.875rem;
}

.footer-local__copyright {
    margin: 0;
}

.footer-local__social {

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 1.5rem;
    }

    a {
        color: var(--couleur-police-boule-commande);
        transition: color 0.2s;

        &:hover {
            color: var(--couleur-presentation-box);
        }
    }
}

.footer-local__social svg {
    width: 22px;
    height: 22px;
    fill: currentColor;
}

@media (max-width: 900px) {
    .container-footer {
        padding: 0 3rem
    }
}

.cgv-ml-footer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.5rem;
    text-align: center;

    a {
        color: var(--couleur-police-boule-commande);
        text-decoration: none;
        transition: 0.3s ease;

        &:hover {
            color: var(--couleur-presentation-box);
            text-decoration: underline;
            font-size: large;
        }
    }

    @media (max-width: 900px) {
        display: grid;
        gap: 2rem;
    }
}

@media (min-width: 992px) {
    .footer-local__main {
        grid-template-columns: 1fr 1.2fr;
        gap: 4rem;
    }
    .footer-local__bottom {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 900px) {
    .cgv-ml-footer a,
    .footer-local__details a {
        text-decoration: underline;
    }
}
