/* ------ elements sur plusieurs pages DRY ------ */
.checkbox-custom {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    gap: 15px;
}

.checkbox-custom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    top: 0;
    left: 0;
}

.checkbox-custom .checkbox-mark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.5em;
    width: 1.5em;
    flex-shrink: 0;
    background-color: #fdfcf0;
    border: 4px solid #3D2B1A;
    border-radius: 8% 92% 12% 88% / 87% 11% 89% 13%;
    box-shadow: 3px 3px 0px #3D2B1A;
    transition:
            transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
            box-shadow 0.2s;
}

.checkbox-custom:hover .checkbox-mark {
    transform: scale(1.05) rotate(2deg);
}

.checkbox-custom input:checked ~ .checkbox-mark {
    background-color: #da7b20;
    border-radius: 92% 8% 88% 12% / 11% 87% 13% 89%;
    transform: scale(1.1) rotate(-2deg);
}

.checkbox-custom .checkbox-mark:after {
    content: "";
    position: absolute;
    display: none;
    left: 0.20em;
    top: 0.02em;
    width: 0.25em;
    transform: translate(-50%, -50%) rotate(40deg);
    height: 0.6em;
    border: solid #FFFFFF;
    border-width: 0 0.25em 0.25em 0;
    border-radius: 2px;
}

.checkbox-custom input:checked ~ .checkbox-mark:after {
    display: block;
    animation: splash 0.3s forwards;
}

.checkbox-custom:active .checkbox-mark {
    transform: scale(0.9) translateY(4px);
    box-shadow: 0px 0px 0px #3D2B1A;
}

@keyframes splash {
    0% {
        transform: scale(0) rotate(40deg);
        opacity: 0;
    }
    70% {
        transform: scale(1.2) rotate(40deg);
    }
    100% {
        transform: scale(1) rotate(40deg);
        opacity: 1;
    }
}

.bottom-banner {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    mix-blend-mode: multiply;
}

.requis {
    color: var(--couleur-police-epuise);
}

/* ---- formulaire contact + inscription ---- */
.form-page {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    margin-inline: auto;
    padding: 2rem;
    background-color: var(--couleur-avis-filtre-banner);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 5em;
    margin-bottom: 5em;
    align-items: start;

    @media (max-width: 900px) {
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
    }

    & label {
        font-family: 'Playfair Display', serif;
        font-size: clamp(1rem, 0.875rem + 0.5vw, 1.25rem);
        
        &:has(+ [required])::after {
            content: "*";
            padding-left: 1ch;
            color: red;
        }
    }

    & img,
    & .form-description {
        grid-column: 1 / -1;
        margin-inline: auto;
        width: 100%;
    }

    @media (min-width: 900px) {
        width: 50%;

        .inscription-banner,
        .banner-contact {
            width: 50%;
        }
    }
}

.form-nom,
.form-prenom,
.form-tel,
.form-date,
.form-email,
.form-texte,
.form-adresse,
.form-ville,
.form-code-postal,
.form-civilite,
.form-mdp,
.form-mdp-confirm {
    display: inherit;
    
    &.form-email,
    &.form-texte,
    &.form-civilite {
        grid-column: 1 / -1;
    }

    textarea {
        resize: vertical;
        min-height: 100px;
        box-sizing: border-box;
    }
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="datetime-local"],
input[type="tel"],
input[type="password"],
input[type="number"],
textarea {
    width: 100%;
    /*padding: 1em;*/
    border-radius: 5px;
    border: 1.5px solid var(--couleur-hero-bouton);
    font-size: clamp(0.875rem, 0.625rem + 1.25vw, 1.25rem);
}
input[disabled] {
    cursor: not-allowed;
}

.form-checkbox {
    grid-column: 1 / -1;
    justify-self: center;
    accent-color: black;
    padding: 0.5em;
}

.form-submit {
    display: inherit;
    grid-column: 1 / -1;

    & > p {
        margin-inline: auto;
        color: var(--couleur-police-email-confirm)
    }
}

#erreur-mdp {
    min-height: 1em;
    margin: 0;
}

/* btn contact envoi message */
#form-submit-button {
    font-family: inherit;
    font-size: 20px;
    background: var(--couleur-hero-bouton);
    color: white;
    padding: 0.7em 1em 0.7em 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

#form-submit-button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

#form-submit-button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

#form-submit-button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

#form-submit-button:hover svg {
    transform: translateX(14em) rotate(45deg) scale(1.1);

    @media (max-width: 900px) {
        transform: translateX(8em) rotate(45deg) scale(1.1);
    }
}

#form-submit-button:hover span {
    transform: translateX(16em);

    @media (max-width: 900px) {
        transform: translateX(9.5em);
    }
}

#form-submit-button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

/* modale devis */
.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(61, 43, 26, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 200;
}

.modal-overlay.active {
    display: flex;
}

.modal-box {
    position: relative;
    max-height: 90vh;
    max-width: 90vw;
    overflow-y: auto;
    overflow-x: hidden;
    ms-overflow-style { display: none; }
    scrollbar-width { display: none; }
}

#menu-detail-close {
    right: 25px;
    top: 20px;
    color: white;
}

.modal-box::-webkit-scrollbar {
    display: none;
}

.modal-overlay .form-page {
    margin-top: 0;
}

.modal-box-petite {
    background-color: var(--couleur-box-filtre);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2.5rem 2rem;
    text-align: center;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: solid 2px var(--couleur-police-connexion);


    .modal-close {
        right: 20px;
    }

    h2 {
        color: var(--couleur-police-reduction);
    }
}

.modal-box--small h2 {
    color: var(--couleur-hero-bouton);
    margin-bottom: 1rem;
}

.modal-close {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 1.75rem;
    line-height: 1;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--couleur-police-standard);

    @media (min-width: 900px) {
        right: 18rem;
    }
}

.modal-close:hover {
    opacity: 80%;
}

.commande-detail-content,
.info-client-content {
    display: grid;
}

.commande-content h2,
.info-client-content h2 {
    margin: 1.5rem;
    border-bottom: solid 1px var(--couleur-footer);
    font-family: 'Inter', sans-serif;
}

#commande-detail-close {
    right: 20px;
}

.commande-detail,
.client-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    justify-items: flex-start;
    font-size: large;

    span {
        color: var(--couleur-footer);
        font-weight: 700;
    }

    p {
        color: var(--couleur-tracer-hero-bouton);
    }
}

#commande-detail-adresse-livraison {
    text-align: left;
}

.modal-box-moyenne {
    background-color: var(--couleur-box-filtre);
    border-radius: 6px;
    box-shadow: 0 4px 12px var(--couleur-ombre-forte);
    padding: 2.5rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: solid 2px var(--couleur-police-connexion);
}

/* modif des inputs et select du site */
input, select {
    border: 1.5px solid var(--couleur-hero-bouton);
    border-radius: 8px;
    padding: 10px 15px;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    color: var(--couleur-police-standard);
    outline: none;
}

input:focus, select:focus, textarea:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: var(--couleur-hero-bouton);
    box-shadow: 0 0 0 3px rgba(196, 112, 58, 0.2);
}

input::placeholder {
    color: var(--couleur-police-ml-cgv);
    font-style: italic;
}

/* reset input type="range" */
input[type="range"] {
    padding: 0;
    border: none;
    width: 100%;
}

/* btn style */
header a {
    text-decoration: none;
}

/* bouton animé */
.animated-button,
.btn-validation-commande,
.btn-voir-detail-commande,
.btn-annulation-commande,
.btn-annulation-commande-admin,
.btn-annulation-admin-confirmer,
.btn-statut-commande,
.btn-commentaire-user-confirmer,
.btn-commentaire-commande {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 20px;
    border: 4px solid transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: var(--couleur-hero-bouton);
    box-shadow: 0 0 0 2px var(--couleur-hero-bouton);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    font-family:'Inter', sans-serif;
}

.animated-button svg,
.btn-validation-commande svg,
.btn-voir-detail-commande svg,
.btn-annulation-commande svg,
.btn-annulation-commande-admin svg,
.btn-annulation-admin-confirmer svg,
.btn-statut-commande svg,
.btn-commentaire-user-confirmer svg,
.btn-commentaire-commande svg {
    position: absolute;
    width: 24px;
    fill: var(--couleur-hero-bouton);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1,
.btn-validation-commande .arr-1,
.btn-voir-detail-commande .arr-1,
.btn-annulation-commande .arr-1,
.btn-annulation-commande-admin .arr-1,
.btn-annulation-admin-confirmer .arr-1,
.btn-statut-commande .arr-1,
.btn-commentaire-user-confirmer .arr-1,
.btn-commentaire-commande .arr-1 {
    right: 5px;
}

.animated-button .arr-2,
.btn-validation-commande .arr-2,
.btn-voir-detail-commande .arr-2,
.btn-annulation-commande .arr-2,
.btn-annulation-commande-admin .arr-2,
.btn-annulation-admin-confirmer .arr-2,
.btn-statut-commande .arr-2,
.btn-commentaire-user-confirmer .arr-2,
.btn-commentaire-commande .arr-2 {
    left: -25%;
}

.animated-button .circle,
.btn-validation-commande .circle,
.btn-voir-detail-commande .circle,
.btn-annulation-commande .circle,
.btn-annulation-commande-admin .circle,
.btn-annulation-admin-confirmer .circle,
.btn-statut-commande .circle,
.btn-commentaire-user-confirmer .circle,
.btn-commentaire-commande .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: var(--couleur-hero-bouton);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text,
.btn-validation-commande .text,
.btn-voir-detail-commande .text,
.btn-annulation-commande .text,
.btn-annulation-commande-admin .text,
.btn-annulation-admin-confirmer .text,
.btn-statut-commande .text,
.btn-commentaire-user-confirmer .text,
.btn-commentaire-commande .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover,
.btn-validation-commande:hover,
.btn-voir-detail-commande:hover,
.btn-annulation-commande:hover,
.btn-annulation-commande-admin:hover,
.btn-annulation-admin-confirmer:hover,
.btn-statut-commande:hover,
.btn-commentaire-user-confirmer:hover,
.btn-commentaire-commande:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #ffffff;
    border-radius: 12px;
}

.animated-button:hover .arr-1,
.btn-validation-commande:hover .arr-1,
.btn-voir-detail-commande:hover .arr-1,
.btn-annulation-commande:hover .arr-1,
.btn-annulation-commande-admin:hover .arr-1,
.btn-annulation-admin-confirmer:hover .arr-1,
.btn-statut-commande:hover .arr-1,
.btn-commentaire-user-confirmer:hover .arr-1,
.btn-commentaire-commande:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2,
.btn-validation-commande:hover .arr-2,
.btn-voir-detail-commande:hover .arr-2,
.btn-annulation-commande:hover .arr-2,
.btn-annulation-commande-admin:hover .arr-2,
.btn-annulation-admin-confirmer:hover .arr-2,
.btn-statut-commande:hover .arr-2,
.btn-commentaire-user-confirmer:hover .arr-2,
.btn-commentaire-commande:hover .arr-2 {
    left: 5px;
}

.animated-button:hover .text,
.btn-validation-commande:hover .text,
.btn-voir-detail-commande:hover .text,
.btn-annulation-commande:hover .text,
.btn-annulation-commande-admin:hover .text,
.btn-annulation-admin-confirmer:hover .text,
.btn-statut-commande:hover .text,
.btn-commentaire-user-confirmer:hover .text,
.btn-commentaire-commande:hover .text {
    transform: translateX(12px);
}

.animated-button:hover svg,
.btn-validation-commande:hover svg,
.btn-voir-detail-commande:hover svg,
.btn-annulation-commande:hover svg,
.btn-annulation-commande-admin:hover svg,
.btn-annulation-admin-confirmer:hover svg,
.btn-statut-commande:hover svg,
.btn-commentaire-user-confirmer:hover svg,
.btn-commentaire-commande:hover svg {
    fill: #ffffff;
}

.animated-button:active,
.btn-validation-commande:active,
.btn-voir-detail-commande:active,
.btn-annulation-commande:active,
.btn-annulation-commande-admin:active,
.btn-annulation-admin-confirmer:active,
.btn-statut-commande:active,
.btn-commentaire-user-confirmer:active,
.btn-commentaire-commande:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px var(--couleur-hero-bouton);
}

.animated-button:hover .circle,
.btn-validation-commande:hover .circle,
.btn-voir-detail-commande:hover .circle,
.btn-annulation-commande:hover .circle,
.btn-annulation-commande-admin:hover .circle,
.btn-annulation-admin-confirmer:hover .circle,
.btn-statut-commande:hover .circle,
.btn-commentaire-user-confirmer:hover .circle,
.btn-commentaire-commande:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}

/* animated btn pour connexion + commandes + inscription + profil utilisateur annuler commande */
/* AJUSTEMENT BTN */
#animated-btn-connexion,
#animated-btn-inscription,
#btn-confirmation-commande {
    padding: 12px 40px;
    font-size: clamp(1.25rem, 1rem + 1vw, 1.75rem);
    font-weight: bold;
}

#animated-btn-connexion:hover,
#btn-confirmation-commande:hover .arr-2 {
    left: 16px;
}

#animated-btn-connexion:hover .circle {
    width: 280px;
}

#btn-confirmation-commande:hover .circle {
    width: 420px;
}

#animated-btn-inscription {
    justify-content: center;
}

#animated-btn-inscription .arr-1 {
    right: 22rem;
}

#animated-btn-inscription:hover .arr-1 {
    right: -25%;
}

#animated-btn-inscription:hover .arr-2 {
    left: 22rem;
}

#animated-btn-inscription:hover .circle {
    width: 1000px;
}

#btn-annuler-commande-utilisateur {
    font-size: 10px;
    font-weight: bold;
}

#btn-creation-employe:hover .circle,
#btn-nav-admin-horaires:hover .circle {
    width: 250px;
}


@media (max-width: 900px) {
    #btn-nav-admin-liste-employe {
        width: 350px;
    }
}


/* scroll to top */
#btn-to-top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--couleur-police-connexion);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

#svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

#svgIcon path {
    fill: white;
}

#btn-to-top:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: var(--couleur-hero-bouton);
    align-items: center;
}

#btn-to-top:hover #svgIcon {
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

#btn-to-top::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    font-size: 0px;
}

#btn-to-top:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
}

.btn-statut-commande-box

/* titre infos input formulaire + profil */

.titre-info-perso, .titre-choix-menu, .titre-recap-commande {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.infos-perso, .infos-menu, .infos-perso-date-heure {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 5px 16px;
}

.infos-perso, .infos-perso-date-heure {
    width: 100%;
}

.first-ligne-info, .second-ligne-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 32px;
}

.third-ligne-info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

@media (max-width: 640px) {
    .first-ligne-info,
    .second-ligne-info,
    .second-ligne-choix-menu {
        flex-direction: column;
        gap: 16px;
    }

    .infos-perso,
    .infos-menu,
    .infos-perso-date-heure {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .titre-info-perso,
    .titre-choix-menu,
    .titre-recap-commande {
        margin-top: 30px;
    }
}

/* Modale annulation commande + new adresse */

.annulation-content,
.new-adresse-content {
    background: var(--couleur-avis-filtre-banner);
    padding: 2rem;
    border-radius: 6px;
    border: 2px solid #C4703A;
    box-shadow: 0 4px 12px var(--couleur-hero-bouton);
    flex-direction: column;
    justify-content: center;
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: large;
    text-align: center;

    h2 {
        font-family: 'Playfair Display', serif;
        font-size: clamp(1.625rem, 1.3125rem + 1.25vw, 2.25rem);
    }
}

#annulation-modal-close,
#new-adresse-modal-close {
    top: 1rem;
    right: 2rem;
}

/* bouton #2 sous menu*/

.bouton-2,
.bouton-2-supprimer,
.bouton-2-commander {
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    margin: 15px;
    z-index: 1;
    color: var(--couleur-hero-bouton);
    border: 2px solid var(--couleur-hero-bouton);
    background: #ffffffad;
    border-radius: 6px;
    position: relative;
}

.bouton-2::before,
.bouton-2-supprimer::before,
.bouton-2-commander::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
    background: var(--couleur-police-epuise);
}

.bouton-2:hover,
.bouton-2-supprimer:hover,
.bouton-2-commander:hover {
    color: white;
}

.bouton-2:before,
.bouton-2-supprimer::before,
.bouton-2-commander::before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
}

.bouton-2:hover::before,
.bouton-2-supprimer:hover::before,
.bouton-2-commander:hover::before {
    top: -30px;
    left: -30px;
}

.dropdown-profil.active {
    .bouton-2 {
        width: 8em;
        color: var(--couleur-police-standard);
        border: 2px solid var(--couleur-police-standard);

        &::before {
            border-radius: 45%;
            width: 190px;
            background: var(--couleur-hero-bouton);
        }

        &:hover {
            color: white;
        }
    }
}

/* Modale annulation commande admin */

#annulation-modal-admin-close {
    right: 1rem;
}

.annulation-content-admin {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
        color: var(--couleur-footer);
        padding: 1rem 0;
        border-bottom: solid 1px var(--couleur-footer);
    }
}

.annulation-content-admin-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    text-align: left;

    .annulation-content-titre {
        font-size: large;
        color: var(--couleur-footer);
    }
}

#annulation-numero-admin,
#annulation-date-prestation-admin,
#annulation-reglement-admin {
    color: var(--couleur-police-connexion);
}

.annulation-content-admin-radio {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
}

.annulation-content-textarea-box {
    display: grid;
    padding: 1rem;
    gap: 1rem;

    label {
        color: var(--couleur-footer);
        padding: 1rem 0;
        border-bottom: solid 1px var(--couleur-footer);
        font-size: x-large;
        font-weight: 800;
        font-family: 'Playfair Display', serif;
    }
}

.annulation-content-textarea,
.commentaire-content-textarea {
    resize: vertical;
    max-height: 130px;
    padding: 0.5em;
}

.btn-annulation-admin-box {
    display: flex;
    justify-content: center;
}

/* Modale Avis */

.star {
    font-size: xx-large;
    cursor: pointer;

    &.active {
        color: orange;
    }
}


.commentaire-content-user {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
        color: var(--couleur-footer);
        padding: 1rem 0;
        border-bottom: solid 1px var(--couleur-footer);
    }
}

.commentaire-content-user-box {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    text-align: left;

    span {
        color: var(--couleur-police-connexion);
    }

    .commentaire-content-titre {
        font-size: large;
        color: var(--couleur-footer);
    }
}

.commentaire-numero-user,
.commentaire-date-prestation-user {
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.commentaire-content-textarea-box {
    display: grid;
    gap: 1rem;
}

.btn-commentaire-user-box {
    display: flex;
    justify-content: center;
    padding: 1rem
}

#commentaire-modal-user-close {
    right: 1.5rem;
}