/* ---- commandes ---- */
.commande {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 5rem;
    margin-top: 20px;
}

.commande-box {
    gap: 60px;
    display: flex;
    flex-direction: column;
}

.commande-box-1, .commande-box-2, .commande-box-3 {
    background-color: var(--couleur-avis-filtre-banner);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.bubulle {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid 1px var(--couleur-police-standard);
    z-index: 2;
    background-color: var(--couleur-hero-bouton);
    font-size: clamp(2.9rem, 1.5rem + 2vw, 3rem);
    color: #FCF1E3;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.first-ligne-choix-menu {
    padding: 5px 24px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    @media (max-width: 900px) {
        padding: 5px 16px;
    }
}

.second-ligne-choix-menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

#nbr-personnes-commande {
    align-self: center;
    width: 30%;
}

.nbr {
    text-align: center;
}

.location-materiel {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#checkbox-location {
    display: flex;
    justify-content: center;
}

.explications-location-materiel-forfait, .explications-nbr-pers {
    text-align: center;
}

.explications-location-materiel-forfait p {
    font-size: clamp(0.75rem, 0.6875rem + 0.25vw, 0.875rem);
}

.explications-location-materiel, .explications-nbr-pers {
    color: var(--couleur-hero-bouton);
    font-size: clamp(0.75rem, 0.6875rem + 0.25vw, 0.875rem);
}

#add-new-adresse {
    display: flex;
    justify-content: flex-end;
    font-size: clamp(0.5625rem, 0.5rem + 0.25vw, 0.6875rem);
    cursor: pointer;
    text-decoration: none;
    color: var(--couleur-hero-bouton);
}

#adresse-select, #choix-menu {
    width: 100%;
}

.recap-commande-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px
}

.recap-infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: clamp(1.25rem, 1rem + 1vw, 1.75rem);
}

.recap-liste {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

.recap-intitule {
    font-family: 'Playfair Display', serif;
}

.recap-resultat {
    color: var(--couleur-hero-bouton);
}

.recap-prix {
    font-size: clamp(1.625rem, 1.3125rem + 1.25vw, 2.25rem);
    color: var(--couleur-hero-bouton);
    font-family: 'Playfair Display', serif;
}

.recap-commande-bouton-confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.recap-commande-bouton-confirmation p {
    font-size: clamp(0.75rem, 0.6875rem + 0.25vw, 0.875rem);
    color: var(--couleur-police-email-confirm);
    text-align: center;
}
/* commandes responsive */

@media (max-width: 640px) {
    .commande-box-1,
    .commande-box-2,
    .commande-box-3 {
        padding: 16px;
    }
}

@media (max-width: 900px) {
    .bubulle {
        left: -15px;
    }
}

/* ---- connexion ---- */
.se-connecter-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.connexion-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    mix-blend-mode: multiply;
}

.input-connexion {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 1em;
    font-size: clamp(1rem, 0.875rem + 0.5vw, 1.25rem);
}

.btn-se-connecter {
    margin-top: 1.5rem;
}

.btn-se-connecter:hover {
    box-shadow: none;
}

.pas-de-compte {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

/* Modal erreurs inscription */

/*#erreurs-inscription {*/
/*    display: none;*/
/*}*/
