/* header + nav + bouton connexion + logo header + border */
header {
    padding: 20px 40px;
    position: relative;

    .header-banner {
        position: absolute;
        inset: 0;
        width: 80%;
        height: 115%;
        margin-inline: auto;
        object-fit: cover;
        mix-blend-mode: multiply;
    }

    .banner-delimitation {
        mix-blend-mode: multiply;
        position: relative;
        width: 100%;
        display: block;
        margin-bottom: -1.5rem;
        filter: drop-shadow(0 6px 8px rgba(61, 43, 26, 0.15));
    }
}

.header-banner-box {
    position: absolute;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
}

.border {
    width: 100%;
    display: block;
    margin-bottom: -5px;
    filter: drop-shadow(0 6px 8px rgba(61, 43, 26, 0.15));
}

nav {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 8;
}

nav a {
    text-decoration: none;
    color: var(--couleur-police-standard);
}

nav ul {
    display: flex;
    list-style: none;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

.nav-links-menus {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    z-index: 2;
    margin-top: 5.5em;
}

.nav-utilisateur {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.panier-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.profil-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    background: transparent;
    cursor: pointer;
}

.profil-box {
    position: relative;
}

.dropdown-profil {
    display: none;
    position: absolute;
    text-align: center;
    top: 4rem;
    right: 0;
    z-index: 2;
    width: max-content;
    border: solid 1px #3D2B1A;
    background-color: var(--couleur-fond);
    padding: 0.5rem;
    font-size: clamp(1rem, 0.875rem + 0.4vi, 2rem);
    transition: all ease-in-out 0.2s;
    font-family: 'Playfair Display', serif;
    border-radius: 6px;
}

.dropdown-profil.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bouton-profil {
    background: transparent;
    border: none;
    padding: 0;
}

.nav-logo {
    font-family: 'Playfair Display', serif;
    white-space: nowrap;
    font-size: clamp(1.625rem, 1.3125rem + 1.25vw, 2.25rem);
}

.nav-logo img {
    height: 6rem;
    object-fit: contain;
    margin-bottom: 20px;
}

.bouton-nav-hamburger {
    display: none;

    img {
        width: 10%;
        height: auto;
    }
}

/* header responsive */

@media (max-width: 900px) {
    header {
        padding: 20px 20px;

        .header-banner {
            display: none;
        }
    }

    .nav-links-menus {
        display: none;
    }

    .nav-links {
        position: relative;
    }

    .nav-links-menus.active {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        position: absolute;
        top: calc(100% + 10px);
        right: 0;
        z-index: 10;
        width: max-content;
        margin-top: 0;
        border: solid 1px var(--couleur-footer);
        background-color: var(--couleur-fond);
        padding: 0.75rem;
        box-shadow: 0 4px 12px var(--couleur-ombre-forte);

        .boutons-header,
        .bouton-connexion {
            border-radius: 0;
            border: none;
            padding: 0;
            background-color: transparent;
            font-family: 'Playfair Display', serif;
        }
    }

    .bouton-nav-hamburger {
        display: flex;
        align-items: center;
        justify-content: right;
        background: transparent;
        border: none;
        border-radius: 6px;
        padding: 8px 12px;
        cursor: pointer;
    }


}


/* footer + logo footer + horaires */
footer {
    background: linear-gradient(180deg,rgba(252, 241, 227, 1) 0%, rgba(61, 43, 26, 1) 8%);
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
    font-family: 'Playfair Display', serif;
    padding: 5px 40px;
}

footer ul {
    text-align: center;
    list-style: none;
    cursor: pointer;
}

footer img {
    width: 20%;
    height: auto;
    object-fit: contain;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.footer-horaires {
    color: var(--couleur-police-horaires);
    text-align: center;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer ul a {
    text-decoration: none;
    color: var(--couleur-police-ml-cgv);
    font-size: xx-large;
    cursor: pointer;
}

.cgv-ml-contact-footer {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    text-align: center;
}

@media (max-width: 900px) {

    footer {
        padding: 5px 20px;
    }

    .footer-horaires {
        font-size: small;
        gap: 10px;
    }

    footer ul a {
        font-size: small;
    }

    .cgv-ml-contact-footer {
        gap: 10px;
    }
}
